<div class="new-account">
    <div class="content">
        <div class="logo">
            <img src="../../assets/imgs/logo.png">
            <span>Bagui Loco</span>
        </div>
        <mat-divider></mat-divider>
        <h1>Ainda não é cliente?</h1>

        <button mat-raised-button color="basic">Abra já sua conta</button>
    </div>
</div>

<div class="login">
    <mat-card>
        <mat-card-title>Seja bem vindo</mat-card-title>
        <mat-card-subtitle>Faça seu login</mat-card-subtitle>
        <mat-card-content>
            <form class="form" [formGroup]="loginForm" (submit)="login()">
                <mat-form-field class="full-width">
                    <mat-label>Usuário</mat-label>
                    <input matInput formControlName="user" required>
                    <mat-error *ngIf="loginForm.get('user').hasError('required')">
                        Por favor, insira um nome de usuário
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Por favor, digite sua senha
                    </mat-error>
                </mat-form-field>

                <div class="buttons">
                    <div class="cel">
                        <button mat-button>Esqueci minha senha</button>
                    </div>

                    <div class="cel">
                        <button mat-raised-button color="primary">Acessar</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>