:host {
    display: flex;
    height: 100%;
}

.new-account {
    width: 40%;
    background-color: #673ab7;
    color: white;

    .content {
        padding: 50px;
        height: 100%;

        h1 {
            font-weight: 300;
        }
    }
}

.mat-divider {
    margin: 37px 0;
}

.login {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    background-color: #fff7ff;
    width: 100%;

    .mat-card {
        padding: 51px;
        border-radius: 8px;
        width: 54%;

        .form {
            width: 100%;
        }
    }
}

.full-width {
    margin: 5px 0;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.cel {
    margin: 4px;
}

.logo {
    display: flex;
    align-items: center;

    span {
        font-size: 25px;
        margin-left: 13px;
    }

    img {
        width: 18%;
    }
}

mat-divider {
    background-color: #c6c6c6;
}