.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.side-menu {
  width: 102px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
  background-color: #fff;
  z-index: 1;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  img {
    width: 45px;
  }
}

.menu {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.left-sidebar {
  width: 527px;
  background-color: #f5f7fb;
}

.chat-room {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
  transition: all 0.4s;
}

.mat-icon-button {
  border-radius: 5%;
  width: 55px;
  height: 55px;
  color: #878a92;
}

.profile {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.img-profile {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.button-menu-user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    width: 95px;
  }

  mat-icon {
    margin-right: 0;
  }
}
