.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-sidebar {
  width: 527px;
  background-color: #f5f7fb;
}

.chat-room {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
  transition: all 0.4s;
}
